.card-img{
    max-height: 300px;
}
.card{
    margin-top: 20px;
}
.movie-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.button{
    background-color: inherit;
    padding-left: 5%;
    padding-right: 5%;
    outline: none;
    border: none;
    border-radius: 5px;
}

.button:hover{
    background-color: aquamarine;
}

