{% extends 'base.html' %}

{% block content %}

    <style>
        @media screen and (max-width:540px) {
            
            .movie-list{  
                justify-content: center;
            }
        
        }
    </style>

    <h3 style="margin-top: 2%;">You searched: '{{search}}'</h3>
    <div class="movie-list">
        
        </div>
    </div>

      <script>

        const movie_list = document.querySelector('.movie-list');
        const IMG_URL = "https://image.tmdb.org/t/p/w500/";
        
        function getPopularMovies(){
            const options = {
                method: 'GET',
                headers: {
                    accept: 'application/json',
                    Authorization: 'Bearer {{ACCESS_TOKEN}}'
                }
            };

            fetch('https://api.themoviedb.org/3/search/movie?query={{search}}', options)
            .then(response => response.json())
            .then(response => displayMovies(response))
            .catch(err => console.error(err));
        }
        

        getPopularMovies();

        function displayMovies(data){

            results = data.results;
            let str = ""

            for (let movie of results){
                str += 
                `   <div class="card" style="width: 18rem;">
                        <div class="image">
                        <img class="card-img-top card-img" src="${IMG_URL+movie.poster_path}" alt="Movie Poster">
                        </div>
                        <div class="card-body">
                            <p> 
                                <i class="fa-solid fa-star" style="color: #d7d11d;"></i> 
                                ${movie.vote_average}  
                                {% if request.user.is_authenticated %}                                 
                                    <button type="submit" class="button" onClick="add_Favourite('${movie.id},${movie.original_title}'); return false;" ><i class="fa-regular fa-heart" style="color: #155fe0;"></i></button>   
                                {% endif %}  
                            </p>
                        <h5 class="card-title">${movie.original_title}</h5>
                        <p class="card-text">${movie.release_date}</p>
                        <a class="btn btn-primary" href="/movie_details/${movie.id}">Details</a>
                        </div>
                    </div>`

            }
            



            movie_list.innerHTML = str;
        }

        async function add_Favourite(string) {

        const arr = string.split(',');

        const [movie_id, movie_name] = arr;

        data = {
            movie_id : movie_id,
            movie_name : movie_name
        }
        try {
            const response = await fetch("{% url 'add_favourite' %}", {
            method: "POST", // or 'PUT'
            headers: {
                "Content-Type": "application/json",
            },
            
            body: JSON.stringify(data),
            });

            const result = await response.json();
            const {isExit, message} = result;
            displayAlert(isExit, message)
        } catch (error) {
            console.error("Error:", error);
        }
        }

        function displayAlert(isExit, message){
        if(isExit){
            swal("Good Job", message, "success")
        }
        else{
            swal("Good Job", message, "info")
        }

}


      </script>

{% endblock %}