{% extends 'base.html' %}

{% block content %}

    <style>
        @media screen and (max-width:540px) {
            
            .movie-list{  
                justify-content: center;
            }
        
        }
    </style>

    <h3 style="margin-top: 2%;">You searched: '{{search}}'</h3>
    <div class="movie-list">
        
        </div>
    </div>

      <script>

        const movie_list = document.querySelector('.movie-list');
        const IMG_URL = "https://image.tmdb.org/t/p/w500/";
        
        function getPopularMovies(){
            const options = {
                method: 'GET',
                headers: {
                    accept: 'application/json',
                    Authorization: 'Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJkMjY4MGExZDU2OTNlY2YzN2RkNDcwNDYzZWI3YzliYiIsInN1YiI6IjY0Yjk2ZGE5ZWZkM2MyMDBkZmRmMzZiOCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.oQ1fqAJ8CBH-VRJk4M_ollTAQO94l6NYzEotm08hCrQ'
                }
            };

            fetch('https://api.themoviedb.org/3/search/movie?query={{search}}', options)
            .then(response => response.json())
            .then(response => displayMovies(response))
            .catch(err => console.error(err));
        }
        

        getPopularMovies();

        function displayMovies(data){

            results = data.results;
            let str = ""

            for (let movie of results){
                str += 
                `   <div class="card" style="width: 18rem;">
                        <div class="image">
                        <img class="card-img-top card-img" src="${IMG_URL+movie.poster_path}" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <p> 
                                <i class="fa-solid fa-star" style="color: #d7d11d;"></i> 
                                ${movie.vote_average}  
                                <button class="button"><i class="fa-regular fa-heart" style="color: #155fe0;"></i></button> 
                            </p>
                        <h5 class="card-title">${movie.original_title}</h5>
                        <p class="card-text">${movie.release_date}</p>
                        <a class="btn btn-primary" href="/movie_details/${movie.id}">Details</a>
                        </div>
                    </div>`

            }
            



            movie_list.innerHTML = str;
        }


      </script>

{% endblock %}